body {   
    width: 1020px;
    align-items:center;
    font-family: "LATO";
}

header {
    align-items: center;
    background-color: #2d303a;    
    height: 89px;
}

    header h1 {
        margin-left: 0px;
        margin-top: 41px;
        line-height: 6px;
        color: white;
        font-family: "LATO";
        font-weight: 900;
        text-align: left;
        margin-right: 440px;
        font-size: 24px;
        letter-spacing: 0.2px;
    }

    header ul {
        color: #323746;
    }

    header li {
        display: inline-block;
        align-items: center;
    }

        header li a {
            font-size: 12px;
            line-height: 6px;
            color: white;
            text-decoration: none;
            text-align: left;
            margin: 9px;
            margin-top: 28px;
            font-weight: 300;
            letter-spacing: 0.05px;
        }

a:hover {
    color: #f06c64;
}
        
.point {
    font-size:8px;
}

 .page-home {
        color: red;
    }

.logo-star {
    height:9px;
    color: #f06c64;
}

.Slider {
    border-top: 6px solid #323746;
    border-bottom: 3px solid #ea676b;
    background-color: #f06c64;
    height: 594px;
    position: relative;
}

    .Slider img {
        position: absolute;
    }

.symbol_left {
    top:282px;
    left: 43px;
}

.model-iPhone-vertical {
    top: 53px;
    left: 112px;
    z-index: 5;
    width: 215px;
    height: 458px;
}

.shadow-vertical {
    left:112px;
    top: 53px;
    z-index: 2;    
}


.shadow-horizontal{
    top: 175px;
    left: 425px;   
    z-index: 2;
}

.model-iPhone-horizontal {
    top: 52px;
    left: 547px;
    transform: rotate(90deg);
    z-index: 5;
}

.symbol_right {
    top: 282px;
    right: 40px;
}
.picture-vertical {
    margin: 0;
    top: 118px;
    left: 126px;
    clip: rect(0px 188px 333px 0px);
    z-index: 10;
}

.picture-horizontal {
    margin: 0;
    top: 188px;
    left: 485px;
    clip: rect(0px 334px 189px 0px);
    z-index: 10;
}

.Servises {
    height: 495px;
    background-color: #f2f2f2;
    border-top: 3px solid #ea676b;
    border-bottom: 6px solid white;
}

    .Servises .our-services {
        margin: 40px;
        margin-top: 68px;
        margin-bottom: 0px;
        font-size: 29px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato";
        font-weight: 900;
        text-align: left;
        letter-spacing: 0.85px;
    }

    .Servises .services-text {
        margin: 40px;
        margin-top: -1px;
        width: 940px;
        height: 57px;
        font-size: 17px;
        line-height: 30px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 300;
        text-align: left;
        letter-spacing: 0.2px;
    }

.services-grid {
    margin: 41px;
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 80px 239px 80px 240px 80px 241px;
    grid-template-rows: 123px;    
}

.services-grid img{
    margin-top:8px;
}

    .services-grid h3 {
        font-size: 18px;
        line-height: 18px;
        margin-left: -1px;
        margin-top: 6px;
        margin-bottom: 8px;
        color: #666d89;
        font-family: "Lato";
        font-weight: 900;
        text-align: left;
        letter-spacing: 0.3px;
    }


    .services-grid p {
        max-width: 240px;
        max-height: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 11px;
        width: 219px;
        height: 128px;
        font-size: 12px;
        line-height: 22px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 400;
        text-align: left;
        letter-spacing: -0.012em;
    }


